Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]



RewriteRule ^Blog/([0-9]+)$ Blog.php?page=$1 [L,NC,QSA]
RewriteRule ^etiket/([0-9]+)/([0-9-a-z-A-Z]+)$ Blog.php?action=etiket&etk=$1&page=$2 [L,NC,QSA]
RewriteRule ^etiket/([0-9]+)$ Blog.php?action=etiket&etk=$1 [L,NC,QSA]
RewriteRule ^arama/([0-9-a-z-A-Z\sğĞÇçıİÖÜ.%20]+)$ Blog.php?action=arama&ara=$1 [L,NC,QSA]
RewriteRule ^icerik/([0-9.a-z-A-Z\s\.\,\?\!iğĞÇçıİüŞÖ?şÜ\.%20]+)/([0-9.a-z-A-Z\s\.\,\?\!ğĞÇçıü?ŞİÖöşÜ%20]+)$ Oku.php?blogid=$1&baslik=$2 [L,QSA]
RewriteRule ^Blog Blog.php
RewriteRule ^iletisim Iletisim.php
RewriteRule ^hakkimizda hakkimizda.php
RewriteRule ^ekibimiz ekibimiz.php

RewriteCond %{HTTP_HOST} !^www\.
RewriteCond %{HTTPS}s on(s)|offs()
RewriteRule ^ http%1://www.%{HTTP_HOST}%{REQUEST_URI} [NE,L,R]


#RewriteRule ^Panel/Blog/Duzenle/([0-9]+)$ Panel/Blog/Duzenle.php?blogid=$1 [L]